<h1><%= @neighbourhood.name %></h1>
<p><strong>Electoral Ward:</strong> <%= @neighbourhood.electoral_ward %></p>

<h2>Sites</h2>
<% @neighbourhood.sites.each do |site| %>
  <p>
    <%= link_to(site.park.presence || site.street, site_path(site)) %>
    (<%= site.trees.count %> trees)
  </p>
<% end %>